<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.toyworld.dao.EmpMapper">

<insert id="join" parameterType="emp">
insert into
	toy_employee(
		empid
		,emppw
	)values(
		#{empid}
		,#{emppw}
	)
</insert>

<select id="login" parameterType="String" resultType="emp">
select
	empid
	,emppw
from
	toy_employee
where
	empid = #{empid}
</select>

</mapper>
